 /* Social Media and Whatsapp */
    
 #whatsapp-widget {
    position: fixed;
    right: 23px;
    bottom: 85px;
    z-index: 10000;
}

.whatsapp-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: blink 1.5s infinite;
}

.whatsapp-icon:hover {
    background-color: none;
    color: #fff;
    text-decoration: none;
}

/* Social Media Widget */
#social-media-widget {
    position: fixed;
    right: 30px;
    bottom: 145px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    z-index: 10001;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 10px 0;
    background-color: #333;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.social-icon i {
    margin: 0;
}

#social-toggle {
    background-color: #555;
    z-index: 10002;
}

.social-icon.facebook {
    background-color: #3b5998;
}

.social-icon.twitter {
    background-color: #1da1f2;
}

.social-icon.instagram {
    background-color: #e4405f;
}

.social-icon.linkedin {
    background-color: #FF0000;
}

.social-icon:hover {
    transform: scale(1.3);
    text-decoration: none;
    color: #fff;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.social-icon .social-img {
    width: 38px;  /* Set the desired width */
    height: 38px; /* Set the desired height */
    object-fit: contain; /* Ensures the image fits within the specified dimensions */
}